// colors

$white: #fff;
$black: #374151;
$red: #ff0000;
$grey: #e5e7eb;
$purpleLight: #c7d1f4;
$purpleDark: #7786d2;

// typography

@mixin sm-medium {
    font-size: 14px;
    line-height: 20px;
}

@mixin xs-medium {
    font-size: 12px;
    line-height: 16px;
}

// media queries

@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 769px) {
        @content;
    }
}
